<%= form_for @post,url:[@post.user,@post] do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :article %><br>
    <%= form.text_field :article %>
  </p>
  <p>
    <%= form.label :picture %><br>
    <%= form.file_field :picture %>
  </p>

  <% if @post.errors.any? %>
    <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
  <% end %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
