<caption>Nombre de posts: <%= @posts.count %> </caption>

<div class="row">
  <% @posts.each do |post| %>
    <%= link_to user_my_post_path(post.user,post) do %>
        <div class="col s6 m3">
          <div class="card" >
            <div class="card-image">
              <%= image_tag(post.picture, class: "responsive-img") %>
            </div>
            <div class="card-content">
              <p class="black-text"><%= post.title %> </p>
            </div>
            <div class="card-action">
              <p class="black-text"> <%= post.user.fullname %> </p>
              <p class="black-text"> <%= post.created_at %> </p>
            </div>
          </div>
        </div>
        <% end %>
    <% end %>
</div>
<center><%= will_paginate @posts %></center>
