<p>
  <strong>Titre:</strong>
  <%= @post.titre %>
</p>
<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>
<p>
  <strong>Chapeau :</strong>
  <%= @post.chapeau %>
</p>
<p>
  <strong>Vignette :</strong>
  <%= image_tag(@post.vignette) %>
</p>
<p>
  <strong>Auteur :</strong>
  <%= @post.user.fullname %>
</p>
<br/><br/>
<hr/>
<br/>
<%= link_to 'Editer', edit_my_post_path(@post) %>

<%= link_to 'Supprimer', my_post_path(@post),method: :delete,
      data: { confirm: 'Êtes-vous sûr ?' } %>

<%= link_to 'Retour', my_posts_path %>
