<p>
  <h1><%= @post.titre %></h1>
</p>
<p>
  <%= image_tag(@post.vignette) %>
</p>
<p>
  <%= @post.chapeau %>
</p>
<p>
  <strong>Auteur :</strong>
  <%= @post.user.fullname %>
</p>
<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>



<br/><br/>
<hr/>
<br/>
<%= link_to edit_my_post_path(@post) do %>
   <i class="material-icons">edit</i>
<%end%>
<%= link_to edit_my_post_path(@post),method: :delete,
      data: { confirm: 'Êtes-vous sûr ?' } do %>
   <i class="material-icons">delete</i>
<%end%>
<%= link_to my_posts_path do %>
   <i class="material-icons">keyboard_backspace</i>
<%end%>
