<div class="row">
  <div class="col s2">
    <%= image_tag(@post.picture, class: "responsive-img") %>
  </div>
  <div class"col s8">
    <p>
      <h1><%= @post.title %></h1>
    </p>
    <p>
      <%= @post.article %>
    </p>
    <p>
      <strong>Auteur :</strong>
      <%= link_to user_path(@post.user) do %>
        <%= @post.user.fullname %>
      <%end%>
    </p>
    <p>
      <strong>Date:</strong>
      <%= @post.created_at %>
    </p>
  </div>
  <div class"col s2">

    <% if @post.user == current_user %>
      <%= link_to edit_user_my_post_path(@post.user,@post) do %>
         <span>Editer</span>
      <%end%>
      <%= link_to user_my_post_path(@post.user,@post),method: :delete,
            data: { confirm: 'Êtes-vous sûr ?' } do %>
           <span>Supprimer</span>
      <%end%>
    <%end%>
    <%= link_to root_path do %>
       <span>Retour</span>
    <%end%>
  </div>
</div>
