<%= form_for @post, url: new_post_path do |form| %>
  <p>
    <%= form.label :titre %><br>
    <%= form.text_field :titre %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </p>
  <p>
    <%= form.label :chapeau %><br>
    <%= form.text_field :chapeau %>
  </p>
  <p>
    <%= form.label :vignette %><br>
    <%= form.file_field :vignette %>
  </p>
  <p>
    <%= form.label :auteur %><br>
    <%= form.text_field :auteur %>
  </p>

  <% if @post.errors.any? %>
    <ul>
        <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
  <% end %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
