<!DOCTYPE html>
<html>
<head>
  <title>Post</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="nav-wrapper">
      <%= link_to "BLOG", root_path,{ :class=>"brand-logo" } %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user.present? %>
        <li><%= link_to "Créer un poste", new_user_my_post_path(current_user) %></li>
        <li><%= link_to "Voir mes postes", user_my_posts_path(current_user) %></li>
          <li><%= current_user.fullname %></li>
          <li><%= link_to "Déconnexion", destroy_user_session_path,method: :delete %></li>
        <% else %>
          <li><%= link_to "Connexion", new_user_session_path %></li>
          <li><%= link_to "Créer un compte",new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
